@charset "UTF-8";
@import url(fontiran.css);

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: right;
    direction: rtl;
    font-family: IRANSans;
    line-height: 1.5;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.dir-ltr {
    direction: ltr;
}

.cursor-pointer {
    cursor: pointer;
}

.rounded-oval {
    border-radius: 1rem;
}

.mnh-100vh {
    min-height: 100vh;
}

.section {
    border: 5px dotted lightskyblue;
    border-radius: 3rem;
}

.section-bg {
    background: url(/img/flower.png) no-repeat center;
    background-size: contain;
    width: 50px;
    height: 50px;
}

.no-outline {
    outline: none;
}

.no-outline-events:hover, .no-outline-events:active, .no-outline-events:focus {
    outline: none;
}

.bg-glin-blue {
    background-image: linear-gradient(45deg, #18c, #045) !important;
}

.bg-glin-magenta {
    background-image: linear-gradient(45deg, #83c, #45d) !important;
}

.bg-light-gray {
    background-color: #eee;
}

.text-size-1 {
    font-size: 0.25rem !important;
}

.text-size-2 {
    font-size: 0.5rem !important;
}

.text-size-3 {
    font-size: 0.75rem !important;
}

.text-size-4 {
    font-size: 1rem !important;
}

.text-size-5 {
    font-size: 1.25rem !important;
}

.text-size-6 {
    font-size: 1.5rem !important;
}

.text-size-7 {
    font-size: 1.75rem !important;
}

.text-size-8 {
    font-size: 2rem !important;
}

.text-size-9 {
    font-size: 2.25rem !important;
}

.text-size-10 {
    font-size: 2.5rem !important;
}

.text-size-11 {
    font-size: 2.75rem !important;
}

.text-size-12 {
    font-size: 3rem !important;
}

.fa-num {
    font-family: IRANSansFaNum;
}

.num-fa {
    font-family: IRANSansFaNum;
}

#header {
    position: relative;
    width: 100%;
    height: 33vh;
    background-color: #eee;
}

#hnav-besm {
    background: url(../img/besm.png) no-repeat center;
    background-size: contain;
    width: 75px;
    height: 26px;
    box-sizing: content-box;
}

#header nav {
    padding-right: 75px;
}

#header .container {
    position: relative;
}

#header .cover {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom-left-radius: 0 !important;
}

#header .cover-avatar {
    width: 150px;
    height: 150px;
    margin-top: -75px;
    text-align: left;
    min-width: 64px;
}

    #header .cover-avatar img {
        border: 5px solid #fff;
    }

#hnav {
    display: -webkit-flex;
    /* Safari */
    display: flex;
}

#hnav-list {
    display: inline-block;
    -webkit-flex: 1;
    /* Safari 6.1+ */
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
    background-color: #eee;
    height: 3rem;
}

    #hnav-list > li {
        position: relative;
        display: inline-block;
        height: 100%;
        z-index: 0;
        vertical-align: middle;
    }

    #hnav-list li a {
        display: inline-block;
    }

.nav-shortcuts a {
    font-family: 'Material Icons Outlined';
    font-size: 20px;
    transition: all 0.2s;
    color: #7b7b7b;
}

    .nav-shortcuts a:hover {
        background-color: #d0d0d0;
        border-radius: 1rem;
        text-decoration: none;
    }

.nav-shortcuts-trigger {
    color: #7b7b7b;
    width: 50px;
}

    .nav-shortcuts-trigger:hover {
        background-color: #d0d0d0;
        border-radius: 1rem;
    }

    .nav-shortcuts-trigger:focus {
        box-shadow: none;
    }

.nav-shortcuts {
    height: 100%;
    margin: 0 10px;
}

@media (max-width: 576px) {
    .nav-shortcuts.open {
        display: block !important;
        position: absolute;
        z-index: 999;
        top: 100%;
        left: 0;
        width: 50px;
        text-align: center;
        background-color: #dfdfdf;
        border-bottom-right-radius: 1.5rem;
        border-bottom-left-radius: 1.5rem;
        padding: 0.5rem 0;
        /*  */
        height: unset !important;
        margin: unset !important;
    }
}

@media (max-width: 1200px) {
    #header nav {
        padding-right: 50px;
    }

    #header .cover-avatar {
        width: 125px;
        height: 125px;
        margin-top: -50px;
    }
}

@media (max-width: 992px) {
    #header nav {
        padding-right: 20px;
    }

    #header .cover-avatar {
        width: 100px;
        height: 100px;
        margin-top: -25px;
    }
}

@media (max-width: 768px) {
    #header nav {
        padding-right: 5px;
    }

    #header .cover-avatar {
        width: 64px;
        height: 64px;
        margin-top: -5px;
    }
}

@media (max-width: 576px) {
    #header .container {
        padding-right: 0;
        padding-left: 0;
    }

    #header .cover {
        border-radius: 0 !important;
    }
}

.tazhib {
    background: url(../img/tazhib.png) no-repeat top;
    background-size: contain;
    min-height: 45px;
}

#footer {
    background-color: #eee;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.upper {
    border: 2px solid #000;
    border-bottom: 0;
    border-right: 0;
    transform: rotate(45deg);
    width: 12px;
    height: 12px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.gotop {
    width: 50px;
    height: 50px;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.3);
    transform: translateY(-50%);
    cursor: pointer;
}

.tazhib.tazhib-rotated {
    transform: rotate(180deg);
}

.links-item {
    background-color: #eee;
    transition: background-color 0.3s;
    border-radius: 0 0 0.5rem 0.5rem;
    color: #000;
    transition: all 0.1s;
}

    .links-item:hover {
        background-color: #e8e8e8;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    }

.links-site-link {
    background-color: #d5d5d5;
    transition: all 0.3s;
    color: #888 !important;
}

.links a:hover {
    color: #000;
}

.links-site-link:hover {
    background-color: #0c7ab7;
    color: #fff !important;
}

.links-link.stretched-link {
    text-overflow: ellipsis;
}

    .links-link.stretched-link .caption {
        font-style: normal;
        border-bottom: 3px solid transparent;
        transition: border 0.3s;
    }

    .links-link.stretched-link:hover .caption {
        border-color: #cecece;
    }

.links-link {
    font-weight: lighter;
    color: #000;
    text-decoration: none !important;
}

.links-content {
    overflow: hidden;
    white-space: nowrap;
}

.links-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
}

.links-compact-item {
    background-color: #a6a6a6;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 64px;
    height: 64px;
}

    .links-compact-item::after {
        font-family: 'Material Icons';
        font-size: 24px;
        line-height: 1;
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 24px;
        height: 24px;
        background-color: #fff;
        border-radius: 50%;
        overflow: hidden;
    }

    .links-compact-item.links-web::after {
        content: "language";
    }

/* .post {} */
.post h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

.post .card-footer {
    padding: 0.5rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(127, 127, 127, 0.15);
}

    .post .card-footer:first-child {
        border-top: 1px solid rgba(0, 0, 0, 0.125);
    }

.post .post-summary, .post .card-footer {
    position: relative;
}

    .post .card-footer.more-related-posts {
        padding-top: 0;
        padding-bottom: 0;
    }

        .post .card-footer.more-related-posts button {
            padding: 0;
        }

            .post .card-footer.more-related-posts button:focus {
                box-shadow: none;
            }

@font-face {
    font-family: "QuranTaha";
    src: url("/fonts/eot/QuranTaha.eot");
    src: url("/fonts/eot/QuranTaha.eot?#iefix") format("embedded-opentype"), url("/fonts/ttf/QuranTaha.ttf") format("truetype"), url("/fonts/woff/QuranTaha.woff") format("woff"), url("/fonts/woff2/QuranTaha.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

.text-quran {
    font-family: QuranTaha;
    font-size: 1.1rem;
}

.quran-logo {
    height: 50px;
    width: 50px;
    max-width: 100%;
    background: url(quranLogo.png) center no-repeat;
    background-size: contain;
}

.nav-pills-light {
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    background-color: #fafafa;
}

    .nav-pills-light .nav-item:not(:last-child) {
        border-bottom: 1px solid #ddd;
    }

    .nav-pills-light .nav-link {
        color: #444;
    }

        .nav-pills-light .nav-link.active {
            border-right: 3px solid #e16e00;
            background-color: inherit;
            color: inherit;
        }

.modal-header .close {
    margin-left: -1rem;
    margin-right: auto;
}

.modal-footer > :not(:last-child) {
    margin-left: .25rem;
}

.btn-group, .btn-group-vertical {
    flex-direction: row-reverse;
}

.tooltip {
    font-family: IRANSans;
}

.rounded-top-0 {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.rounded-bottom-0 {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.rounded-left-0 {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.rounded-right-0 {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form-check {
    padding-right: 1.5em;
}

    .form-check .form-check-input {
        float: right;
        margin-right: -1.5em;
    }


/**/

.form-floating label {
    left: unset;
    right: 0;
}
