@model Mohkazv.Library.WebApp.Models.Author

@{
    ViewData["Title"] = "افزودن نویسنده";
}
<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Authors" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-2">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="mb-2">
                <a href="#" class="btn btn-light border my-2 js-history-back">
                    <i class="bi bi-arrow-right"></i>
                    بازگشت
                </a>
                <a asp-controller="Authors" asp-action="Index" class="btn btn-light border my-2">
                    <i class="bi bi-list"></i>
                </a>
                <button type="submit" class="btn btn-primary">افزودن</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
