@model Mohkazv.Library.WebApp.Models.Author

@{
    ViewData["Title"] = "حذف نویسنده";
}

<h1>@ViewData["Title"]</h1>

<div class="alert alert-danger" role="alert">
    <b>هشدار:</b>
    شما در حال حذف نویسنده
    «@Model.FirstName @Model.LastName»
    می‌باشید. آیا از حذف دائمی اطمینان دارید؟
</div>

<hr />
<div class="row">
    <div class="col-12 col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="mb-2">
            <label asp-for="FirstName" class="control-label"></label>
            <input asp-for="FirstName" class="form-control" readonly/>
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="LastName" class="control-label"></label>
            <input asp-for="LastName" class="form-control" readonly/>
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <form asp-action="Delete" class="mb-2">
            <a href="#" class="btn btn-light border my-2 js-history-back">
                <i class="bi bi-arrow-right"></i>
                بازگشت
            </a>
            <a asp-controller="Authors" asp-action="Index" class="btn btn-light border my-2">
                <i class="bi bi-list"></i>
            </a>
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger">حذف دائم</button>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
