@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<a asp-controller="Books" asp-action="Index" class="btn btn-primary w-100 my-2">کتاب‌ها</a>
<a asp-controller="Authors" asp-action="Index" class="btn btn-primary w-100 my-2">نویسنده‌ها</a>
<a asp-controller="BookAuthors" asp-action="Index" class="btn btn-primary w-100 my-2">واسطه کتاب‌ها و نویسنده‌ها</a>
<a asp-controller="BorrowBooks" asp-action="Index" class="btn btn-primary w-100 my-2">امانت کتاب</a>
<a asp-controller="Languages" asp-action="Index" class="btn btn-primary w-100 my-2">زبان‌ها</a>
<a asp-controller="Publishers" asp-action="Index" class="btn btn-primary w-100 my-2">انتشارات‌ها</a>
