@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">خوش آمدید</h1>
    <p>به کتابخانه بزرگ صدرالمتألهین (صدرا) خوش آمدید.</p>
</div>

<div class="text-center">
    <a asp-controller="Books" asp-action="Index" class="btn btn-light border">کتاب‌ها</a>
    <a asp-controller="Authors" asp-action="Index" class="btn btn-light border">نویسنده‌ها</a>
    <a asp-controller="Publishers" asp-action="Index" class="btn btn-light border">ناشران</a>
</div>
<hr class="mx-auto w-50" />

